:root {
    --overlay:    #808080cc;
    --modal:      #ffffffd9;
    --bt_hover:   #f08080;
    --bt_focus:   #0000ff;
}
body {
    text-align: center;
}

button {
    font-size: 1.5em;
    background: grey;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;

}

button:hover {
    background: var(--bt_hover);
}
button:focus {
    border: solid 2px var(--bt_focus);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay);

    display: grid;
    align-items: center;
}

.modal {
    position: relative;
    width: 60%;
    height: 60%;

    /* styling - to style and position interior of the cards */
    background: var(--modal);

    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-self: center;
    justify-items: center;
    align-items: center;

}

.scores {
    font-size: 2em;
}

.hidden {
    display: none;
}